<div class="container">
  <div class="col-md-10">
      <p id="notice"><%= notice %></p>
     
        <%
        center = @center 

        country_name = Country.find(center.country_id)
        @center_country = country_name.name
  
        state_name = State.find(center.state_id)
        @center_state = state_name.name
  
        district_name = District.find(center.district_id)
        @center_district = district_name.name
  
        sub_district_name = SubDistrict.find(center.sub_district_id)
        @center_sub_district = sub_district_name.name
  
        city_name = TownVillage.find(center.town_village_id)
        @center_city = city_name.name
        %> 

      <p>
        <strong>Name:</strong>
        <%= @center.name %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @center.address %>
      </p>

      <p>
        <strong>No of volenters:</strong>
        <%= @center.no_of_volenters %>
      </p>

      <p>
        <strong>Country:</strong>
        <%= @center_country %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @center_state %>
      </p>

      <p>
        <strong>District:</strong>
        <%= @center_district %>
      </p>

      <p>
        <strong>Sub district:</strong>
        <%= @center_sub_district %>
      </p>

      <p>
        <strong>Town village:</strong>
        <%= @center_city %>
      </p>

      <%= link_to 'Edit', edit_center_path(@center) %> |
      <%= link_to 'Back', centers_path %>
  </div>
</div>      
