<%= render :partial => '/welcome/nav' %>

<div class="container" style='margin-top:50px'>
  <% if @response %>
    <% @response.errors.each do |key, message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>
<div class="col-md-8" style='float:left;margin-left:60px;margin-top:1%'>
 <h2> Bussiness Listing</h2><br>
<div class="form-area">  
  <%= simple_form_for(:associate, :url => new_associate_path,method: :get) do |f| %>
    <%= f.error_notification %>
    <div class='two' id='two'>  
      <div class="form-group">
         <%= label_tag "authy-countries", "Country code:" %>
         <div class ='form-control'>
         <%= select_tag "authy-countries", nil, name: 'country_code', 'data-show-as': 'number',required: true  %>
         </div>
      </div>
      <div>
        <%= label_tag "phone_number", "Phone number:" %>
        <%= telephone_field_tag "phone_number", nil, name: 'phone_number', class:'form-control'%>
       </div><br>
        <div>
            <%= label_tag "method", "Verification method:" %>
            <%= label_tag "method_sms", "SMS: "%>
            <%= radio_button_tag "method", "sms", class:"radio-inline"  %>
            <%= label_tag "method_call", "Call: " %>
            <%= radio_button_tag "method", "call",class:"radio-inline" %>
        </div><br>
            <%= f.input :company_name %>
            <%= f.input :title %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :mobile_number %>
            <%= f.input :landline_number %>
            <%= f.input :associate_type, collection: ['Paid','Free'],selected: 'Paid' %>
       </div>
    <div class="form-actions">
      <%= f.button :submit, 'Next' %>
    </div>
<% end %>
</div>    