<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @associate.company_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @associate.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @associate.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @associate.last_name %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @associate.mobile_number %>
</p>

<p>
  <strong>Landline number:</strong>
  <%= @associate.landline_number %>
</p>

<p>
  <strong>Bussiness category:</strong>
  <%= @associate.bussiness_category %>
</p>

<p>
  <strong>Address building:</strong>
  <%= @associate.address_building %>
</p>

<p>
  <strong>Address street:</strong>
  <%= @associate.address_street %>
</p>

<p>
  <strong>Address landmark:</strong>
  <%= @associate.address_landmark %>
</p>

<p>
  <strong>Address area:</strong>
  <%= @associate.address_area %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @associate.address_city %>
</p>

<p>
  <strong>Address pincode:</strong>
  <%= @associate.address_pincode %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @associate.contact_person %>
</p>

<p>
  <strong>Contact person designation:</strong>
  <%= @associate.contact_person_designation %>
</p>

<p>
  <strong>Fax number:</strong>
  <%= @associate.fax_number %>
</p>

<p>
  <strong>Fax number two:</strong>
  <%= @associate.fax_number_two %>
</p>

<p>
  <strong>Toll free number:</strong>
  <%= @associate.toll_free_number %>
</p>

<p>
  <strong>Toll free number two:</strong>
  <%= @associate.toll_free_number_two %>
</p>

<p>
  <strong>Email:</strong>
  <%= @associate.email_id %>
</p>

<p>
  <strong>Website:</strong>
  <%= @associate.website %>
</p>

<p>
  <strong>Display hours status:</strong>
  <%= @associate.display_hours_status %>
</p>

<p>
  <strong>Year of establishment:</strong>
  <%= @associate.year_of_establishment %>
</p>

<p>
  <strong>Annual turnover:</strong>
  <%= @associate.annual_turnover %>
</p>

<p>
  <strong>Number of employees:</strong>
  <%= @associate.number_of_employees %>
</p>

<p>
  <strong>Professional association:</strong>
  <%= @associate.professional_association %>
</p>

<p>
  <strong>Certifications:</strong>
  <%= @associate.certifications %>
</p>

<p>
  <strong>Payment mode:</strong>
  <%= @associate.payment_mode %>
</p>

<p>
  <strong>Monday from:</strong>
  <%= @associate.monday_from %>
</p>

<p>
  <strong>Monday to:</strong>
  <%= @associate.monday_to %>
</p>

<p>
  <strong>Monday status:</strong>
  <%= @associate.monday_status %>
</p>

<p>
  <strong>Tuesday from:</strong>
  <%= @associate.tuesday_from %>
</p>

<p>
  <strong>Tuesday to:</strong>
  <%= @associate.tuesday_to %>
</p>

<p>
  <strong>Tuesday status:</strong>
  <%= @associate.tuesday_status %>
</p>

<p>
  <strong>Wednesday from:</strong>
  <%= @associate.wednesday_from %>
</p>

<p>
  <strong>Wednesday to:</strong>
  <%= @associate.wednesday_to %>
</p>

<p>
  <strong>Wednesday status:</strong>
  <%= @associate.wednesday_status %>
</p>

<p>
  <strong>Thursday from:</strong>
  <%= @associate.thursday_from %>
</p>

<p>
  <strong>Thursday to:</strong>
  <%= @associate.thursday_to %>
</p>

<p>
  <strong>Thursday status:</strong>
  <%= @associate.thursday_status %>
</p>

<p>
  <strong>Friday from:</strong>
  <%= @associate.friday_from %>
</p>

<p>
  <strong>Friday to:</strong>
  <%= @associate.friday_to %>
</p>

<p>
  <strong>Friday status:</strong>
  <%= @associate.friday_status %>
</p>

<p>
  <strong>Saturday from:</strong>
  <%= @associate.saturday_from %>
</p>

<p>
  <strong>Saturday to:</strong>
  <%= @associate.saturday_to %>
</p>

<p>
  <strong>Saturday status:</strong>
  <%= @associate.saturday_status %>
</p>

<p>
  <strong>Sunday from:</strong>
  <%= @associate.sunday_from %>
</p>

<p>
  <strong>Sunday to:</strong>
  <%= @associate.sunday_to %>
</p>

<p>
  <strong>Sunday status:</strong>
  <%= @associate.sunday_status %>
</p>

<p>
  <strong>Center:</strong>
  <%= @associate.center %>
</p>

<%= link_to 'Edit', edit_associate_path(@associate) %> |
<%= link_to 'Back', associates_path %>
